php_value magic_quotes_gpc    0
php_value register_globals    0
php_value max_execution_time  900
php_value memory_limit        120M
php_value post_max_size       100M
php_value upload_max_filesize 100M

Options All -Indexes

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule (.*) ?q=$1 [L]
