Options All -Indexes

<FilesMatch "(config|.+\.html)\.php">
	deny from all
</FilesMatch>

<IfModule mod_rewrite.c>
	RewriteEngine on

	RewriteCond %{REQUEST_URI} !\.(bmp|cgi|css|flv|gif|ico|jpe?g|js|png|swf|xml)$
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d

	RewriteRule (.*) ?q=$1&%1 [L,QSA]
</IfModule>
