@variables {
	form-background-color: #F8F8F8;
	form-border-color: #CCC;
	input-background-color: #FFF;
	input-focus-background-color: #FFC;
	input-border-color: #999;
	link-color: #05A2C7;
	heading-border-color: #DDD;
	page-background-color: #FFF;
	content-background-color: #FFF;
	text-color: #2E2D2B;
	spacing: 25px;
}

/* Normalize */

* {
	background-color: transparent;
	border: none;
	border-spacing: 0;
	font-size: inherit;
	font-weight: inherit;
	font-family: inherit;
	line-height: inherit;
	list-style: none inside;
	margin: 0;
	padding: 0;
	text-align: inherit;
	text-decoration: none;
	text-rendering: optimizeLegibility;
}

/* Main */

html {
	overflow-y: scroll;
}

body {
	background: var(page-background-color);
	color: var(text-color);
	font-family: Verdana, Arial;
	font-size: 13px;
	line-height: 20px;
	text-align: center;
}

em {
	font-style: italic;
}

strong {
	font-weight: bold;
}

pre, code {
	font-family: monospace;
	font-size: 13px;
}

a:link, a:hover, a:active, a:visited {
	color: var(link-color);
	outline: none;
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
}

/* Content */

#header {
	margin: 0 auto;
	width: 940px;
}

#menu {
	background: var(link-color);
	border-bottom: 1px solid rgba(0, 0, 0, .2);
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-top: 1px solid rgba(255, 255, 255, .2);
	color: var(content-background-color);
	font-size: 11px;
	line-height: 20px;
	overflow: hidden;
	padding: 5px;
	text-align: left;
	text-transform: uppercase;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, .4);
}

#menu ul {
	float: left;
}

#menu li {
	border-left: 1px solid rgba(255, 255, 255, .2);
	border-right: 1px solid rgba(0, 0, 0, .2);
	display: inline-block;
	float: left;
}

	#menu li:first-child {
		border-left: none;
	}

	#menu li:last-child {
		border-right: none;
	}

#menu p {
	float: right;
	font-weight: bold;
	padding: 0 1em;
}

#menu a:link, #menu a:hover, #menu a:active, #menu a:visited {
	color: var(content-background-color);
	float: left;
	padding: 0 1em;
	text-decoration: none;
}

#menu a:hover {
	text-decoration: underline;
}

#logo {
	margin: 0 auto;
	text-align: left;
	width: 960px;
}

	#logo a:link, #logo a:hover, #logo a:active, #logo a:visited {
		background: url('images/logo.png') left center no-repeat;
		display: block;
		height: 120px;
		overflow: hidden;
		text-indent: -99999%;
		width: 400px;
	}

#page {
	background: var(content-background-color);
	margin: 0 auto;
	text-align: left;
	width: 960px;
}

#content {
	padding: var(spacing) 0 0 0;
}

	#content p {
		margin-bottom: var(spacing);
	}

	#content h1, #content h2, #content h3, #content h4, #content h5, #content h6 {
		line-height: 1em;
		margin-bottom: 15px;
	}

	#content h1 {
		font-size: 26px;
		margin-bottom: 20px;
	}

	#content h2 {
		font-size: 15px;
		font-weight: bold;
		text-transform: uppercase;
	}

	#content h3 {
		font-size: 13px;
		font-weight: bold;
		text-transform: uppercase;
	}

	#content h4 {
		font-size: 13px;
		font-weight: bold;
	}

	#content h5, #content h6 {
		font-size: 11px;
		font-weight: bold;
	}

	#content ul, #content ol {
		margin-bottom: var(spacing);
	}

		#content ul ul, #content ol ol, #content ul ol, #content ol ul {
			margin-bottom: 0;
		}

	#content li {
		margin-left: 3em;
	}

	#content ul li {
		list-style: outside disc;
	}

	#content ol li {
		list-style: outside decimal;
	}

	#content dl {
		clear: both;
		margin-bottom: var(spacing);
	}

	#content dt {
		display: block;
		float: left;
		margin-right: 1em;
		width: 140px;
	}

	#content dd {
		margin-left: 140px;
	}

	#content .message {
		border-radius: 2px;
		-moz-border-radius: 2px;
		-webkit-border-radius: 2px;
		border-style: solid;
		border-width: 1px;
		padding: 1em;
	}

		#content .message.notice {
			background-color: #FFC;
			border-color: #DD7;
		}

		#content .message.error {
			background-color: #FEE;
			border-color: #D77;
		}

	#content .separator {
		border-top: 1px solid var(form-border-color);
		height: 1px;
		margin-bottom: var(spacing);
		overflow: hidden;
	}

	#content .crumbs {
		margin-bottom: 10px;
	}

		#content .crumbs li {
			display: inline;
			font-size: 11px;
			margin-left: 0;
			text-transform: uppercase;
		}

	#content .admin-toolbox {
		float: right;
		margin-bottom: 10px;
	}

		#content .admin-toolbox li {
			display: inline;
			margin-left: 0;
		}

	/* Documentation */

	#content .syntax {
		background: var(form-background-color);
		font-family: monospace;
		margin-bottom: var(spacing);
		overflow-x: auto;
		width: 100%;
		white-space: nowrap;
	}

		#content .syntax .gutter {
			border-right: 1px solid var(form-border-color);
			float: left;
			padding: .5em;
			margin-right: .5em;
		}

		#content .syntax .code {
			padding: .5em;
		}

		#content .syntax code {
			padding: 0;
		}

#footer {
	font-size: 11px;
	padding: 20px 0 40px 0;
	text-align: center;
	text-transform: uppercase;
}


/* Table elements */

table {
	border-color: var(form-border-color);
	border-style: solid;
	border-width: 1px 0 0 1px;
	margin-bottom: var(spacing);
	text-align: left;
	width: 100%;
}

thead {
	background: var(form-background-color);
}

th, td {
	border-color: var(form-border-color);
	border-style: solid;
	border-width: 0 1px 1px 0;
	padding: .5em;
	vertical-align: middle;
}

th {
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
}

td {
}

/* Form elements */

form {
	margin-bottom: var(spacing);
}

	form.hide {
		background: none;
		border: none;
		margin: 0;
	}

	form.hide fieldset {
		background: none;
		border: none;
		padding: 0;
		margin-bottom: 0;
	}

	form .error {
		color: #E00;
	}

	form .field-error {
		background: #FEE;
		border-color: #D77;
	}

	form dl {
		margin-bottom: 0 !important;
		padding: .5em .5em 0 .5em;
	}

		form dl em {
			font-size: 11px;
		}

	form dt {
		font-size: 11px;
		line-height: 22px;
		text-transform: uppercase;
	}

	form dt em, form dd em {
		display: block;
		text-transform: none;
	}

	form dd p {
		display: inline;
	}

fieldset {
	background: var(form-background-color);
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border: 1px solid var(form-border-color);
	margin-bottom: -1px;
	padding: .5em .5em 1em .5em;
}

	fieldset p {
		clear: both;
		padding: .5em .5em 0 .5em;
	}

input, textarea, select, button {
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	background: var(input-background-color);
	border: 1px solid var(input-border-color);
	margin-right: .5em;
	padding: .2em;
}

input, textarea, select {
	width: 300px;
}

input[type="checkbox"], input[type="radio"] {
	background: none;
	border: none;
	padding: 0;
	width: auto;
}

input, textarea, select, button {
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	background: var(input-background-color);
	border: 1px solid var(input-border-color);
	margin-right: .5em;
	padding: .2em;
}

input:focus, textarea:focus, select:focus {
	background: var(input-focus-background-color);
}

textarea.large {
	height: 220px;
	width: 540px;
}

textarea.code {
	font-family: monospace;
}

button, button:focus, input[type="submit"], input[type="submit"]:focus {
	background: var(text-color);
	border-color: var(text-color);
	color: var(content-background-color);
	font-size: 11px;
	padding: .3em 2em .4em 2em;
	text-transform: uppercase;
	width: auto;
}

button:hover, input[type="submit"]:hover {
	cursor: pointer;
}

a:link.button, a:hover.button, a:active.button, a:visited.button {
	background: var(form-background-color);
	background-image: -moz-linear-gradient(top, var(content-background-color), var(form-background-color));
	background-image: -webkit-gradient(linear, left top, left bottom, from(var(content-background-color)), to(var(form-background-color)));
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=var(content-background-color),endColorstr=var(form-background-color));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=var(content-background-color),endColorstr=var(form-background-color))";
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border: 1px solid var(form-border-color);
	color: var(text-color);
	display: inline-block;
	font-size: 11px;
	line-height: 25px;
	margin: 1px 0;
	padding: 0 1em 0 1em;
	text-decoration: none;
	text-transform: uppercase;
	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, .1);
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .1);
	white-space: nowrap;
}

a:hover.button {
	border: 1px solid var(text-color);
}

	a.button.caution {
		color: var(form-border-color);
	}

	a:hover.button.caution {
		border: 1px solid #C00;
		color: #C00;
	}

/* Table elements in forms */

form table {
	border: none;
	margin: 0;
}

	form table input.text, form table input.password, form table textarea, form table select {
		width: auto;
	}

form th, form td {
	border: none;
	padding: .5em .5em 0 .5em;
}

form tbody th {
	font-weight: normal;
	width: 160px;
}

/* Installer */

.dependency-ok {
	color: #090;
}

.dependency-fail {
	color: #C00;
}
